In [ ]:
s='abcd'
for c in s:
    print(c)

In [3]:
# print num from 1 to n
n=int(input())
for i in range(1,n+1,1):
    print(i)

5
1
2
3
4
5

In [4]:
for i in range(1,5,2):
    print(i,end=' ')

1 3

In [5]:
for i in range(5):
    print(i,end= ' ')

0 1 2 3 4

In [12]:
a=int(input())
b=int(input())
for i in range(a,b+1,a):
    print(i)

3
19
3
6
9
12
15
18

In [12]:
#to check if a num is prime
n=int(input())
for i in range(2,n,1):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

1
prime

In [27]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(n-i):
        print(" ",end="")
    for j in range(i,2*i,1):
        print(j,end="")
    for k in range(2*i-2,i-1,-1):
        print(k,end="")
    print()

4
   1
  232
 34543
4567654

In [13]:
# print all the prime numbers from 2 to n
n=int(input())
k=2
while k<n:
    d=2
    flag=False
    while d<k:
        if k%d==0:
            flag=True
            break
        d+=1
    if (not(flag)):
        print(k)
    k+=1

10
2
3
5
7

In [14]:
i=1
while i<5:
    if i==3:
        break
    print(i,end=" ")
    i = i +1

1 2

In [16]:
i=1
while i<3:
    j=1
    while j<5:
        if j==3:
            break
        print(j,end=" ")
        j = j + 1
    i = i + 1

1 2 1 2

In [18]:
i=1
while i<5:
    if i == 6:
        break
    print(i,end=" ")
    i = i + 1
else:
    print('Else is also printed')

1 2 3 4 Else is also printed

In [20]:
i=1
while i<5:
    if i == 3:
        break
    print(i,end=' ')
    i = i + 1
else:
    print('Else is also printed')

1 2

In [7]:
for i in range(1,7,1):
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [11]:
n=int(input())
for i in range(2,n+1,2):
    if i%7==0:
        continue
    print(i)

30
2
4
6
8
10
12
16
18
20
22
24
26
30

In [14]:
n=int(input())
for i in range(2,n+1,2):
    print(i)
    if i%7==0:
        continue
    print(i)

30
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30

In [16]:
i=1
while i<5:
    if i==3:
        i+=1
        continue
    print(i,end=" ")
    i = i + 1

1 2 4

In [18]:
i=1
while i<3:
    j=0
    while j<5:
        j = j +1
        if j==3:
            continue
        print(j,end=" ")
    i = i +1

1 2 4 5 1 2 4 5

In [34]:
n=int(input())
for i in range(1,n+1,1):
    for k in range(1,n+2-i,1):
        if i%2!=0:
            print("1",end="")
        else:
            print("0",end="")
    print()

4
1111
000
11
0

In [27]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=(n+1-i):
        if i%2!=0:
            print("1",end="")
        else:
            print("0",end="")
        j+=1
    print()
    i+=1

4
1111
000
11
0

In [31]:
n=int(input())
for i in range(1,n+1,1):
    for k in range(1,i+1,1):
        print(k,end="")
    print()

5
1
12
123
1234
12345

In [35]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(i,n+1,1):
        print(j,end="")
    print()

6
123456
23456
3456
456
56
6

In [42]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(1,i,1):
        print(" ",end="")
    for j in range(i,n+1,1):
        print(j,end="")
    print()

6
123456
 23456
  3456
   456
    56
     6

In [91]:
n=int(input())
for i in range(1,n+1,1):
    for s in range(1,i,1):
        print(" ",end="")
    for j in range(i,n+1,1):
        print(j,end="")
    print()
for i in range(1,n,1):
    for k in range(1,n-i,1):
        print(" ",end="")
    for a in range(n-i,n+1,1):
        print(a,end="")
    print()

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [45]:
n1=(n+1)//2
n2=n-n1
n=int(input())
for i in range(1,n1+1,1):
    for j in range(1,n1-i+1,1):
        print(" ",end="")
    for k in range(1,2*i,1):
        print("*",end="")
    print()

5
  *
 ***
*****

In [99]:
n=int(input())
n1=(n+1)//2
n2=n-n1
for i in range(1,n1+1,1):
    for j in range(1,n1-i+1,1):
        print(" ",end="")
    for k in range(1,2*i,1):
        print("*",end="")
    print()
for m in range(1,n2+1,1):
    for l in range(1,m+1,1):
        print(" ",end="")
    for b in range(1,(2*n)-(2*b),1):
        print("*",end="")
    print()

5
  *
 ***
*****
 ***
  ***

In [100]:

n2=int(input())
for m in range(1,n2+1,1):
    for l in range(1,m+1,1):
        print("#",end="")
    for p in range(1,(2*n2)-(2*b),1):
        print("*",end="")
    print()

3
#
##
###

In [4]:
n=int(input())
n1=(n+1)//2
n2=n-n1
for i in range(1,n1+1,1):
    for j in range(1,n1-i+1,1):
        print(" ",end="")
    for k in range(1,2*i,1):
        print("*",end="")
    print()
for m in range(1,n2+1,1):
    for l in range(1,m+1,1):
        print(" ",end="")
    for b in range(1,2*n2-2*m+2,1):
        print("*",end="")
    print()

7
   *
  ***
 *****
*******
 *****
  ***
   *

In [25]:
n=int(input())
for i in range(1,n+1,1):
    print(i,end=" ")
    if i%n!=0:
        pass
print()
for k in range(n+5,n+9,1):
    print(k,end=" ")
    if k%n!=0:
        pass
print()
for l in range(n+9,n+13,1):
    print(l,end=" ")
    if l%n!=0:
        pass
print()
for j in range(n+1,n+5,1):
    print(j,end=" ")
    if j%n!=0:
        pass
print()

4
1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8

In [26]:
n = int(input())
upper = int(n/2)+1
lower = n - upper
start_i_lower = 0

for i in range(0, upper):
  if i != 0:
    i = i + i
  start = n*i + 1
  end = start + n

  for j in range(start, end):
    print(j, end =" ")
  start_i_lower = i
  print()

start_i_lower -= 1

for i in range(0, lower):
  if(n%2 == 0):
    start_i_lower -= 1

  start = n*(start_i_lower-1) + 1
  end = start + n

  for j in range(1, n+1):
        print(j+n, end =" ")

  print()

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
6 7 8 9 10
6 7 8 9 10

In [27]:
n = int(input())
upper = int(n/2)+1
lower = n - upper
start_i_lower = 0

for i in range(0, upper):
  if i != 0:
    i = i + i
  start = n*i + 1
  end = start + n

  for j in range(start, end):
    print(j, end =" ")
  start_i_lower = i
  print()

start_i_lower -= 1

for i in range(0, lower):
  if(n%2 == 0):
    start_i_lower -= 1

  start = n*(start_i_lower-1) + 1
  end = start + n

  for j in range(1, n+1):
        print(j+n, end =" ")

  print()

4
1 2 3 4
9 10 11 12
17 18 19 20
5 6 7 8

In [30]:
n = 5
h = 0
d = int(n/2)+1
for r in range(0, n):
	s=''
	for c in range(1, n+1):
		if r<d:
			h = r*2
		elif r==d:
			h = d
		else:
			h = int(d/3)
		s+=str(h*n+c) + ' '
	print(s)

1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

In [12]:
n=int(input())
for i in range(1,n+1,1):
    print(i,end=" ")
    if i%n==0:
        break
print()
for k in range(n+5,n+9,1):
    print(k,end=" ")
    if k%n==0:
        break
print()
for l in range(n+9,n+13,1):
    print(l,end=" ")
    if l%n==0:
        break
print()
for j in range(n+1,n+5,1):
    print(j,end=" ")
    if j%n==0:
        break
print()

4
1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8

In [ ]:
n=int(input())
for q in range(n):
    z=q*n
for i in range(1,n+1,1):
    print(i,end=" ")
    if i%n==0:
        break
print()
for k in range(n+5,n+9,1):
    print(k,end=" ")
    if k%n==0:
        break
print()
for l in range(n+9,n+13,1):
    print(l,end=" ")
    if l%n==0:
        break
print()
for j in range(n+1,n+5,1):
    print(j,end=" ")
    if j%n==0:
        break
print()

In [4]:
n=int(input())
for q in range(1,n+1,1):
    z=q*n
    print(z)

4
4
8
12
16

In [28]:
n=int(input())
for i in range(1,n*n+1,1):
    print(i,end=" ")
    if i%(n)==0:
        print()

4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [27]:
n=int(input())
for i in range(n):
    for j in range(1,n+1,1):
        print(n*i+j,end=" ")
    print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [32]:
n = int(input())
mid=(n+1)//2
for i in range(0,n,2):
    for j in range(1,n+1):
    	print(n*i+j,end=' ')
    print()
c=(2*(n-mid))-1
for i in range(c,0,-2):
    for j in range(1,n+1):
        print(n*i+j,end=' ')
    print()

4
1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8

In [31]:
n = int(input())
mid=(n+1)//2
for i in range(0,n,2):
    for j in range(1,n+1):
    	print(n*i+j,end=' ')
    print()

4
1 2 3 4
9 10 11 12

In [18]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        print(j,end=" ")
    print()

4
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7
1 2 3 4 5 6 7

In [22]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1 or j==2*n-1):
            print(n,end=" ")
        else:
            print(" ",end=" ")
    print()

4
4 4 4 4 4 4 4
4           4
4           4
4           4
4           4
4           4
4 4 4 4 4 4 4

In [33]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1):
            print(n,end=" ")
        if (i==2 and j==i or )
        
    print()

4
4 4 4 4 4 4 4
4
4
4
4
4
4 4 4 4 4 4 4

In [1]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1 or j==2*n-1):
            print(n,end=" ")
    print()

4
4 4 4 4 4 4 4
4 4
4 4
4 4
4 4
4 4
4 4 4 4 4 4 4

In [2]:
n=int(input())
for i in range(1,n+1,1):
    for j in range(1,n+1,1):
        if (i==1 or i==n or j==1 or j==n):
            print(n,end=" ")
        elif (i>=2 and j>=2 and i<=n-1 and j<=n-1):
            print(n-1,end=" ")
    print()

4
4 4 4 4
4 3 3 4
4 3 3 4
4 4 4 4

In [26]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n or j==1 or j==2*n):
            print(n,end=" ")
        elif ((j>=2 and j<=2*n-1) and (i>=2 and i<=2*n-1)):
            print(n-1,end=" ")
    print()

4
4 4 4 4 4 4 4
4 3 3 3 3 3 3
4 3 3 3 3 3 3
4 3 3 3 3 3 3
4 3 3 3 3 3 3
4 3 3 3 3 3 3
4 3 3 3 3 3 3

In [30]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1 or j==2*n-1):
            print(n,end=" ")
        elif ((i==2 and j<=2*n-2) or (i==2*n-2 and j<=2*n-2) or ((i==3 or i==4 or i==5 or i==6) and (j==2 or j==2*n-2))):
            print(n-1,end=" ")
        elif (((i==3 or i==2*n-3) and j<=2*n-3) or (i==4 and (j==5 or j==3))):
            print(n-2,end=" ")
        else:
            print(n-3,end=" ")
    print()

4
4 4 4 4 4 4 4
4 3 3 3 3 3 4
4 3 2 2 2 3 4
4 3 2 1 2 3 4
4 3 2 2 2 3 4
4 3 3 3 3 3 4
4 4 4 4 4 4 4

In [31]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1 or j==2*n-1):
            print(n,end=" ")
        elif ((i==2 and j<=2*n-2) or (i==2*n-2 and j<=2*n-2) or ((i==3 or i==4 or i==5 or i==6) and (j==2 or j==2*n-2))):
            print(n-1,end=" ")
        elif (((i==3 or i==2*n-3) and j<=2*n-3) or (i==4 and (j==5 or j==3))):
            print(n-2,end=" ")
        else:
            print(n-3,end=" ")
    print()

3
3 3 3 3 3
3 2 2 2 3
3 2 1 2 3
3 2 2 2 3
3 3 3 3 3

In [33]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1 or j==2*n-1):
            print(n,end="")
        elif ((i==2 and j<=2*n-2) or (i==2*n-2 and j<=2*n-2) or ((i==3 or i==4 or i==5 or i==6) and (j==2 or j==2*n-2))):
            print(n-1,end="")
        elif (((i==3 or i==2*n-3) and j<=2*n-3) or (i==4 and (j==5 or j==3))):
            print(n-2,end="")
        else:
            print(n-3,end="")
    print()

5
555555555
544444445
543333345
543232245
542222245
542222245
533333325
544444445
555555555

In [45]:
n=int(input())
for i in range(1,2*n,1):
    for j in range(1,2*n,1):
        if (i==1 or i==2*n-1 or j==1 or j==2*n-1):
            print(n,end="")
        elif ((i==2 and j<=2*n-2) or (i==2*n-2 and j<=2*n-2) or ((i>=2 and i<=2*n-2) and (j==2 or j==2*n-2))):
            print(n-1,end="")
        elif (((i==3 or i==2*n-3) and j<=2*n-3) or ((i>=4 and i<=2*n-3) and (j==2*n-3 or j==3))):
            print(n-2,end="")
        elif (((i==4 or i==2*n-4) and j<=2*n-4) or ((i>=5 and i<=2*n-4) and (j==2*n-4 or j==2*n-6))):
            print(n-3,end="")
        else:
            print(n-4,end="")
    print()

6
66666666666
65555555556
65444444456
65433333456
65422323456
65422323456
65422323456
65433333456
65444444456
65555555556
66666666666

In [48]:
n=int(input(""))

for i in range(1, n+1):
    temp = n
    for j in range(1, i):
        print(temp, end = "")
        temp = temp-1
        
    for j in range(1, (2*n) - (2*i) + 2):
        print(n-i+1, end = "")
        
    for j in range(1, i):
        temp = temp + 1
        print(temp, end = "")
        
    print()
    
for i in range(n-1, 0, -1):
    temp = n
    for j in range(1, i):
        print(temp, end = "")
        temp = temp-1
        
    for j in range(1, (2*n) - (2*i) + 2):
        print(n-i+1, end = "")
        
    for j in range(1, i):
        temp = temp + 1
        print(temp, end = "")
        
    print()

9
99999999999999999
98888888888888889
98777777777777789
98766666666666789
98765555555556789
98765444444456789
98765433333456789
98765432223456789
98765432123456789
98765432223456789
98765433333456789
98765444444456789
98765555555556789
98766666666666789
98777777777777789
98888888888888889
99999999999999999